@import "./variables.scss";

.main-fotos {
   @include element_position(flex, row, center, center, 5px);
   flex-wrap: wrap;
   cursor: pointer;
   max-width: 915px;
   margin: 1% auto;
   position: relative;
}
